section.guests-container#guests
  .guests
    h1.guests__title(
      data-animation = "fadeInUp"
    )
      = ui.guests.title
    .guests__description(
      data-animation = "fadeInUp"
    )
      = ui.guests.description

    .guests__list
      - var index = 0;
      each guest in data.guests.list
        - index++;
        if 3 < index
          .guest.guest_hidden(
            data-animation = "zoomIn"
          )
            .guest__photo
              img.guest__img(src=guest.img)
            .guest__details
              .guest__name
                = guest.name
              .guest__description
                = guest.description
        else
          .guest(
            data-animation = "zoomIn"
          )
            .guest__photo
              img.guest__img(src=guest.img)
            .guest__details
              .guest__name
                = guest.name
              .guest__description
                = guest.description
    button.button.button_guests(data-action="showMore")
      = ui.general.showMore
