section.story-container#story
  .story-header-container
    .story-header(
      data-animation = "fadeInUp"
    )
      img.story-header__img(src='img/story_birds.png')
      h1.story-header__title
        = ui.story.title
      .story-header__description
        = ui.story.description

  .story-list
    - var index = 0;
    each story in data.story.stories
      -
        var isEven = index % 2 !== 0;
        index++;

      .story
        if isEven
          .story__photo-container.story__photo-container_even
            .story__photo(
              data-animation = "fadeInRight"
            )
              img.story__img(
                src=story.img
              )
          .story__date-container.story__date-container_even
            .story__date
              .story__day
                = story.day
              .story__month
                = story.month
          .story__details.story__details_even(
            data-animation = "fadeInLeft"
          )
            .story__title
              = story.title
            .story__description
              = story.description
        else
          .story__photo-container
            .story__photo(
              data-animation = "fadeInLeft"
            )
              img.story__img(
                src=story.img
              )
          .story__date-container
            .story__date
              .story__day
                = story.day
              .story__month
                = story.month
          .story__details(
            data-animation = "fadeInRight"
          )
            .story__title
              = story.title
            .story__description
              = story.description
