-
  var headerTitle = 'НАША ИСТОРИЯ';
  var headerDescription = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor.';

section.story-container
  .story-header-container
    .story-header
      img.story-header__img(src='img/story_birds.png')
      h1.story-header__title
        = headerTitle
      .story-header__description
        = headerDescription
