section.wishes-container
  .wishes
    h1.wishes__title(
      data-animation = "fadeInUp"
    )
      = ui.wishes.title
    ul(data-wishes-slider)
      each wish in data.wishes.list
        li.wish-container
          .wish
            .wish__photo
              img.wish__img(src=wish.img)
            .wish__details
              .wish__description
                = wish.description
              .wish__name
                = wish.name
    button.button(data-action="addWish")
      = ui.wishes.addButtonTitle
