include ../social/social.pug

section.about-container#about
  .about
    .person.person_male
      .person__photo.person__photo_male(
        data-animation = "fadeInLeft"
      )
        img.person__img(
          src = data.about.male.photo
        )
      .person__title.person__title_male
        .person__transformed.person__transformed_male
          = ui.about.maleTitle
      .person__details.person__details_male(
        data-animation = "fadeInRight"
      )
        .person__name
          = data.general.male.name + ' ' + data.general.male.secondName
        .person__title
          = ui.about.maleTitle
        .person__about
          = data.about.male.about
        .person__social.person__social_male
          +social(data.general.male)

    .person.person_female
      .person__photo.person__photo_female(
        data-animation = "fadeInRight"
      )
        img.person__img(
          src = data.about.female.photo
        )
      .person__title.person__title_female
        .person__transformed.person__transformed_female
          = ui.about.femaleTitle
      .person__details.person__details_female(
        data-animation = "fadeInLeft"
      )
        .person__name
          = data.general.female.name + ' ' + data.general.female.secondName
        .person__title
          = ui.about.femaleTitle
        .person__about
          = data.about.female.about
        .person__social.person__social_female
          +social(data.general.female)
