section.rsvp-container#rsvp
  .rsvp(
    data-rsvp-main
  )
    h1.rsvp__title(
      data-animation = "fadeInUp"
    )
      = ui.rsvp.title
    form.rsvp__form#rsvpform(
      autocomplete
      method = "post"
      enctype = "multipart/form-data"
      data-animation = "zoomIn"
    )
      .rsvp__item
        label.form__label(
          for = "name"
        )
          = ui.rsvp.nameLabel
        br
        input.form__input.ajax-input(
          type = "text"
          name = "name"
          id = "name"
        )
      .rsvp__item
        label.form__label(
          for = "events"
        )
          = ui.rsvp.eventsLabel
        br
        select.form__select.ajax-input(
          name = "events[]"
          id = "events"
          multiple
          data-select-event
        )
          - var index = 0;
          each event in data.rsvp.events
            if index === 0
              option.form__option(
                selected
                value = event.title
              )
                = event.title
            else
              option.form__option(
                value = event.title
              )
                = event.title
            - index++;
      .rsvp__item
        label.form__label(
            for = "wish"
        )
          = ui.rsvp.wishLabel
        br
        textarea.form__textarea.ajax-input(
          name="wish"
          id="wish"
          rows="5"
        )
      .rsvp__item
        label.form__label(
            for = "photo"
        )
          = ui.rsvp.photoLabel
        br
        input.ajax-input(
          name = "photo"
          id = "photo"
          type = "file"
        )
      .rsvp__item
        input.button#submitButton(
          name = "submit"
          type = "submit"
          value = ui.rsvp.sendButtonLabel
        )
  .rsvp.rsvp_thanks.hidden(
    data-rsvp-thanks
  )
    h1.rsvp__title
      = ui.rsvp.thanksTitle
    .description.description_small
      = ui.rsvp.thanksMessage
