-
  var headerTitle = 'Вы придете?';
  var thanksTitle = 'Благодарим';
  var thanksMessage = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.';
  var nameLabel = 'Ваше имя и фамилия *';
  var nameRequired = 'Поле "Ваше имя и фамилия" пустое';
  var eventsLabel = 'Присутствие *';
  var eventsRequired = 'Поле "Присутствие" пустое';
  var wishLabel = 'Текст пожелания';
  var photoLabel = 'Ваше фото *';
  var events = [
    {
      value: 'all',
      title: 'Все события'
    },
    {
      value: 'wedding',
      title: 'Венчание'
    },
    {
      value: 'registry',
      title: 'Регистрация'
    },
    {
      value: 'restorant',
      title: 'Ресторан'
    }
  ];
  var rsvpButton = 'Подтверждаю';
  var rsvpButtonSendingLabel = 'Отпраление...';

section.rsvp-container
  .rsvp(
    data-rsvp-main
  )
    h1.rsvp__title
      = headerTitle
    form.rsvp__form#rsvpform(
      autocomplete
      method = "post"
      enctype = "multipart/form-data"
    )
      .rsvp__item
        label.form__label(
          for = "name"
        )
          = nameLabel
        br
        input.form__input.ajax-input(
          type = "text"
          name = "name"
          id = "name"
          data-required = nameRequired
          data-output-label = nameLabel
        )
      .rsvp__item
        label.form__label(
          for = "events"
        )
          = eventsLabel
        br
        select.form__select.ajax-input(
          name = "events[]"
          id = "events"
          multiple
          data-select-event
          data-required = eventsRequired
          data-output-label = eventsLabel
        )
          - var index = 0;
          each event in events
            if index === 0
              option.form__option(
                selected
                value = event.title
              )
                = event.title
            else
              option.form__option(
                value = event.title
              )
                = event.title
            - index++;
      .rsvp__item
        label.form__label(
            for = "wish"
        )
          = wishLabel
        br
        textarea.form__textarea.ajax-input(
          name="wish"
          id="wish"
          rows="5"
          data-output-label = wishLabel
        )
      .rsvp__item
        label.form__label(
            for = "photo"
        )
          = photoLabel
        br
        input.ajax-input(
          name = "photo"
          id = "photo"
          type = "file"
          data-output-label = photoLabel
        )
      .rsvp__item
        input.button#submitButton(
          name = "submit"
          type = "submit"
          value = rsvpButton
          data-sending-label = rsvpButtonSendingLabel
        )
  .rsvp.rsvp_thanks.hidden(
    data-rsvp-thanks
  )
    h1.rsvp__title
      = thanksTitle
    .description.description_small
      = thanksMessage
