@import '../../style/variables'
@import '../../style/common'

.wishes-container
  background: $light-gray-color
  padding: 76px 0 64px

  @media (min-width: $sizeS)
    padding: 130px 20px 100px

.wishes
  display: flex
  flex-direction: column
  align-items: center

  &__title
    @extend .title
    font-size: 32px
    font-style: italic
    font-weight: 600
    text-transform: none
    margin-bottom: 40px

    @media (min-width: $sizeS)
      font-size: 50px
      margin-bottom: 66px

  &__list
    list-style-type: none
    width: 100%
    margin-bottom: 30px

    @media (min-width: $sizeS)
      margin-bottom: 40px

  &__form-container
    display: flex
    justify-content: center
    align-items: center

  &__form
    width: 95%
    max-width: 600px
    margin: 0 auto
    border: 10px solid $main-red-color
    background-color: $main-white-color
    display: flex
    flex-direction: column

  &__button-close
    align-self: flex-end

  &__form-title
    color: $nav-item-color
    font-family: $main-serif-font
    font-size: 30px
    font-weight: 700
    font-style: italic
    text-align: center

  &__form-item
    padding: 0 15px
    margin-bottom: 20px

    @media (min-width: $sizeS)
      margin-bottom: 35px

    &_center
      text-align: center

.wish-container
  padding: 0 15px

.wish
  max-width: 725px
  margin: 0 auto

  @media (min-width: $sizeS)
    display: flex

  &__photo
    width: 54%
    max-width: 250px
    margin: 0 auto
    margin-bottom: 27px

    @media (min-width: $sizeS)
      width: 100%
      flex-shrink: 0
      margin-right: 38px

  &__img
    width: 100%
    display: block

  &__details
    text-align: center

    @media (min-width: $sizeS)
      text-align: left

  &__description
    font-family: $main-sans-serif-font
    font-style: italic
    font-size: 12px
    color: $dark-gray-color
    margin-bottom: 28px

    @media (min-width: $sizeS)
      font-size: 14px
      margin-bottom: 38px

  &__name
    font-family: $main-serif-font
    font-weight: 700
    font-size: 16px
    line-height: 1.0
    columns: $nav-item-color
    margin-bottom: 34px

    @media (min-width: $sizeS)
      font-size: 20px

.arrow
  fill: #000
  width: 50px
  display: none

  @media (min-width: $sizeS)
    display: inline

  &_prev
    transform: rotate(180deg)
