-
  var navigation = {
    list: [
      {href: '#about', title: 'О НАС'},
      {href: '#story', title: 'НАША ИСТОРИЯ'},
      {href: '#places', title: 'ГДЕ И КОГДА'},
      {href: '#program', title: 'ПРОГРАММА'},
      {href: '#rsvp', title: 'УЧАСТИЕ'},
      {href: '#guests', title: 'ГОСТИ'},
      {href: '#presents', title: 'ПОДАРКИ'},
      {href: '#gallery', title: 'ГАЛЕРЕЯ'},
      {href: '#contacts', title: 'КОНТАКТЫ'}
    ]
  };

  var ui = {
    general: {
      showMore: 'Показать больше',
      empty: 'Не указан'
    },
    counter: {
      title: 'Мы женимся'
    },
    about: {
      maleTitle: 'Жених',
      femaleTitle: 'Невеста'
    },
    story: {
      title: 'НАША ИСТОРИЯ',
      description: 'Ниже хотим поделиться с вами нашей историей знакомства, первыми свиданиями, предложением руки и серца, а также другими интересными эпизодами начала нашей большей любви.'
    },
    relatives: {
      title: 'РОДСТВЕННИКИ',
      description: 'Наши самый близкие и любимые родственники'
      
    },
    places: {
      title: 'Когда и Где'
    },
    program: {
      title: 'Программа',
      description: 'Чтоб вы были в курсе всего происходящего ниже подробная программа празднования'
    },
    rsvp: {
      title: 'Пожелание молодоженам и подтверждение присутствия',
      thanksTitle: 'Благодарим',
      thanksMessage: '',
      nameLabel: 'Ваше имя и фамилия *',
      eventsLabel: 'Присутствие *',
      wishLabel: 'Текст пожелания',
      photoLabel: 'Ваше фото',
      sendButtonLabel: 'Отправить'
    },
    guests: {
      title: 'Гости',
      description: 'А теперь вашему вниманию список гостей нашего главного дня в жизни.'
    },
    wishes: {
      title: 'Пожелания',
      addButtonTitle: 'Написать'
    },
    presents: {
      title: 'Список подарков',
      description: 'Дорогие гости, на случай если вы хотите нам что-то подарить, но не знаете что-то купить и переживаете за то что оно нам будет ни к чему, мы составили список нужным нам подарков!'
      
    },
    gallery: {
      title: 'Галерея',
      allTitle: 'Все'
    },
    thanks: {
      title: 'Благодарим!',
      description: 'Очень рады что этот памятный день нашей жизни вы проводите вместе с нами! Спасибо всем вам за то что вы есть у нас. Мы вас всех очень ценим и любим!',
      bgImage: 'saimg/thanks_bg.jpg'
    }
    
  };
