section.program-container#program
  .program
    h1.program__title(
      data-animation = "fadeInUp"
    )
      = ui.program.title
    .program__description(
      data-animation = "fadeInUp"
    )
      = ui.program.description

    .program__event-list(
      data-animation = "zoomIn"
    )
      each event in data.program.events
        .event
          .event__header(data-accardion-header)
            .event__time
              = event.time
            .event__name
              = event.name
          .event__description
            = event.description
