section.counter-container
  .counter#counter(
    data-counter-year = data.counter.year
    data-counter-month = data.counter.month
    data-counter-day = data.counter.day
    data-counter-expired-title = ui.counter.expiredTitle
  )
    h1.counter__title(
      data-animation = "fadeInUp"
    )
      = ui.counter.title
    .counter__description(
      data-animation = "fadeInUp"
    )
      = data.counter.dateString
    ul.counter__time(
      data-animation = "fadeInUp"
    )
