section.thanks-container(data-background-url=ui.thanks.bgImage)
  .thanks
    .thanks__title(
      data-animation = "fadeInUp"
    )
      = ui.thanks.title
    .thanks__description(
      data-animation = "fadeInUp"
    )
      = ui.thanks.description
    .thanks__details(
      data-animation = "zoomIn"
    )
      .thanks__name
        = data.hero.femaleName
      .thanks__heart
        include ../svg/heart.svg
      .thanks__name
        = data.hero.maleName
