@import '../../style/variables'
@import '../../style/common'

.galery-container
  background-color: $light-gray-color
  padding: 63px 0 14px

  @media (min-width: $sizeS)
    padding: 106px 0 76px

  @media (min-width: $sizeM)
    padding: 84px 0 123px

.galery
  display: flex
  flex-direction: column
  align-items: center

  &__title
    @extend .title
    font-size: 28px
    margin-bottom: 23px

    @media (min-width: $sizeS)
      font-size: 36px
      margin-bottom: 36px

  &__name
    @extend .title
    font-size: 16px

  &__item
    margin-bottom: 10px
    overflow: hidden
    max-height: 224px

    @media (min-width: $sizeS)
      flex-basis: 33%
      padding: 0 25px

    @media (min-width: $sizeS)
      margin-bottom: 40px

  &__link
    cursor: zoom-in
    overflow: hidden
    display: block

    &_video
      position: relative

      &::before
        content: url('img/icon_play.svg')
        opacity: .5
        width: 60px
        height: 60px
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)

  &__img
    width: 100%
    display: block
    transition: transform .75s

    &:hover
      transform: scale(1.1)

    &_video

      &:hover
        transform: none

.owl-carousel.owl-loaded
  display: flex
  flex-direction: column

.owl-nav
  order: -1
  align-self: flex-end
  margin-bottom: 10px
  display: flex
  justify-content: center

.owl-prev,
.owl-next
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M35 88.5c-.8 0-1.5-.3-2.1-.9-1.2-1.2-1.2-3.1 0-4.2l35.7-35.7-36-36c-1.2-1.2-1.2-3.1 0-4.2 1.2-1.2 3.1-1.2 4.2 0L77 47.7 37.2 87.6c-.6.6-1.4.9-2.2.9z"/></svg>')
  width: 40px
  height: 40px
  opacity: .5
  transition: opacity .3s
  margin-top: -28px

  &:hover
    opacity: 1

.owl-prev
  transform: scale(-1, 1)

[data-tag-current]
  color: $main-white-color
  background-color: $main-red-color
