section.relatives-container
  .relatives
    h1.relatives__title(
      data-animation = "fadeInUp"
    )
      = ui.relatives.title
    .relatives__description(
      data-animation = "fadeInUp"
    )
      = ui.relatives.description

    .relatives__list
      - var index = 0;
      each relative in data.relatives.list
        - index++;
        if 4 < index
          .relative.relative_main(
            data-animation = "zoomIn"
          )
            .relative__details
              .relative__name
                = relative.name
              .relative__title
                = relative.title
            .relative__photo
              img.relative__img(src=relative.img)
        else
          .relative(
            data-animation = "zoomIn"
          )
            .relative__details
              .relative__name
                = relative.name
              .relative__title
                = relative.title
            .relative__photo
              img.relative__img(src=relative.img)
    button.button.button_relatives(data-action="showMore")
      = ui.general.showMore
