section.presents-container#presents
  .presents
    h1.presents__title(
      data-animation = "fadeInUp"
    )
      = ui.presents.title
    .presents__description(
      data-animation = "fadeInUp"
    )
      = ui.presents.description
    .presents__list
      each present in data.presents.list
        .present(
          data-animation = "zoomIn"
        )
          .present__container
            a.present__link(
              target="_blank"
              href=present.link
            )
              img.present__img(src=present.img)
