section.galery-container#gallery
  .galery
    h1.galery__title(
      data-animation = "fadeInUp"
    )
      = ui.gallery.title
    .gallery__content.owl-carousel
      each galery in data.gallery.list
        each photo in galery.photos
          .galery__item
            a.galery__link(
                href = photo
                data-magnigic-popup
              )
              img.galery__img(src = photo)
        if (galery.videos)
          each video in galery.videos
            .galery__item
              a.galery__link.galery__link_video.mfp-iframe(
                  href = video.img
                  data-mfp-src = video.src
                  data-magnigic-popup
                )
                img.galery__img.galery__img_video(src = video.img)
