section.galery-container#gallery
  .galery
    h1.galery__title(
      data-animation = "fadeInUp"
    )
      = ui.gallery.title
    .gallery__content.owl-carousel
      each galery in data.gallery.list
        each photo in galery.photos
          .galery__item
            a.galery__link(
                href = photo
                data-magnigic-popup
              )
              img.galery__img(src = photo)
