-
  var headerTitle = 'Галерея';
  var allTitle = 'Все';
  var galeries = [
    {
      title: 'Венчание',
      photos: [
        'img/galery_01.jpg'
      ]
    },
    {
      title: 'Регистрация',
      photos: [
        'img/galery_02.jpg',
        'img/galery_06.jpg'
      ]
    },
    {
      title: 'Ресторан',
      photos: [
        'img/galery_03.jpg'
      ]
    },
    {
      title: 'Танцы',
      photos: [
        'img/galery_04.jpg'
      ]
    },
    {
      title: 'Видео',
      photos: [
        'img/galery_05.jpg'
      ]
    },
  ];

section.galery-container#gallery
  .galery
    h1.galery__title(
      data-animation = "fadeInUp"
    )
      = ui.gallery.title
    ul.galery__nav(
      data-animation = "fadeInUp"
    )
      li.galery__nav-item
        button.galery__nav-title(
          data-tag-target='tag_all'
          data-tag-current
        )
          = ui.gallery.allTitle
      - var index = 0;
      each galery in data.gallery.list
        li.galery__nav-item
          button.galery__nav-title(data-tag-target='tag_'+index)
            = galery.title
        - index++;
    .galery__content
      - var tagNum = 0;
      each galery in data.gallery.list
        - var tag = 'tag_'+tagNum
        each photo in galery.photos
          .galery__item(
              data-tag=tag
              data-animation = "fadeIn"
            )
            a.galery__link(
                href=photo
                data-magnigic-popup
              )
              img.galery__img(src=photo)
        - tagNum++;
