@import '../../style/variables'

$about-max-width: 460px
$about-padding: 15px
$sizeM: 1025px

.about-container
  padding-bottom: 63px
  padding-left: $about-padding
  padding-right: $about-padding

  @media (min-width: $sizeS)
    padding-bottom: 116px

  @media (min-width: $sizeM)
    background: $light-gray-color
    padding-top: 120px
    padding-bottom: 160px

.about
  max-width: $about-max-width + $about-padding * 2
  margin: 0 auto

  @media (min-width: $sizeM)
    max-width: 980px

.person
  font-family: $main-sans-serif-font
  font-size: 14px
  font-weight: 300
  color: $nav-item-color
  text-align: center
  margin-bottom: 53px

  @media (min-width: $sizeS)
    margin-bottom: 92px

  @media (min-width: $sizeM)
    margin-bottom: 0
    display: flex

  &:last-child
    margin-bottom: 0

  &__photo
    margin-bottom: 46px
    overflow: hidden

    @media (min-width: $sizeS)
      margin-bottom: 58px

    @media (min-width: $sizeM)
      flex-basis: $about-max-width
      flex-shrink: 0
      margin-bottom: 0

      &_female
        order: 3


  &__img
    width: 100%
    display: block
    transition: transform .75s

    &:hover
      transform: scale(1.1)

  &__details
    @media (min-width: $sizeM)
      text-align: left
      display: flex
      flex-flow: column
      justify-content: center

      &_female
        text-align: right
        order: 1

  &__name
    font-family: $main-serif-font
    font-size: 28px
    font-weight: bold
    line-height: 1.0
    margin-bottom: 23px

    @media (min-width: $sizeS)
      font-size: 32px

  &__title
    line-height: 1.0
    margin-bottom: 24px

    &::before
      content: '\2014'
      margin-right: 10px

    &::after
      content: '\2014'
      margin-left: 10px

    &_male,
    &_female
      display: none

    @media (min-width: $sizeM)
      display: none
      margin-bottom: 0
      letter-spacing: 2px

      &_male
        display: block
        margin-left: 30px
        margin-right: 35px
        padding-left: 15px
        padding-bottom: 36px
        border-left: 1px solid $nav-item-color

      &_female
        display: block
        order: 2
        margin-left: 35px
        margin-right: 29px
        padding-right: 15px
        padding-top: 36px
        border-right: 1px solid $nav-item-color

      &::before
        content: ''
        margin-right: 0

      &::after
        content: ''
        margin-left: 0

  &__transformed

    &_male
      transform: rotate(-90.0deg) translateX(-17px)

    &_female
      transform: rotate(-90.0deg) translateX(-27px)

  &__about
    color: $dark-gray-color
    line-height: 1.4

    @media (min-width: $sizeS)
      font-size: 15px

    @media (min-width: $sizeM)
      margin-bottom: 40px

  &__social
    display: none

    svg
      fill: lighten($dark-gray-color, 20)

    @media (min-width: $sizeM)
      display: flex

      &_female
        justify-content: flex-end
