@import '../../style/variables'
@import '../../style/common'

.story-container

  @media (min-width: $sizeM)
    background: $main-yellow-color

.story-header-container
  background-image: url(img/story_bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  min-height: 200px
  padding: 25px
  display: flex
  justify-content: center
  align-items: center

  @media (min-width: $sizeS)
    min-height: 400px

  @media (min-width: $sizeM)
    min-height: 450px

.story-header
  max-width: 424px

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__img
    margin-bottom: 17px

    @media (min-width: $sizeS)
      margin-bottom: 40px

  &__title
    @extend .title
    color: $main-white-color
    margin-bottom: 17px

    @media (min-width: $sizeS)
      margin-bottom: 30px

  &__description
    @extend .description
    color: $main-white-color

.story-list
  margin: 0 auto
  padding: 40px 15px 70px
  max-width: 640px + 15px * 2
  min-width: 320px

  @media (min-width: $sizeM)
    padding: 0
    max-width: 770px


.story
  margin-bottom: 33px
  display: flex
  flex-direction: column
  align-items: center

  &:last-child
    margin-bottom: 0

  @media (min-width: $sizeS)
    margin-bottom: 95px

  @media (min-width: $sizeM)
    flex-direction: row
    align-items: center
    margin-bottom: 0

  &__photo-container

    @media (min-width: $sizeM)
      align-self: stretch
      flex-basis: 50%
      flex-shrink: 0
      padding-right: 65px
      padding-bottom: 70px
      border-right: 1px solid $nav-item-color

      &:first-child
        padding-top: 120px

      &:last-child
        padding-bottom: 120px

      &_even
        flex-basis: calc(50% + 1px)
        order: 3
        padding-right: 0
        padding-left: 65px
        border-left: 1px solid $nav-item-color
        border-right: none

  &__photo
    overflow: hidden

  &__img
    width: 100%
    display: block
    transition: transform .75s

    &:hover
      transform: scale(1.1)

  &__date-container
    width: 64px
    height: 64px
    background-color: $main-yellow-color
    border: 2px solid $main-red-color
    border-radius: 4px
    transform: translateY(-32px) rotate(45deg)

    @media (min-width: $sizeM)
      flex-basis: 64px
      flex-grow: 0
      flex-shrink: 0
      transform: translateX(-32px) rotate(45deg)

      &_even
        order: 2
        transform: translateX(32px) rotate(45deg)

  &__date
    color: $main-red-color
    font-family: $main-sans-serif-font
    font-weight: 700
    font-size: 30px
    line-height: 1.0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transform: rotate(-45deg) translate(-6px, 4px)

  &__month
    font-size: 13px

  &__details
    max-width: 414px

    @media (min-width: $sizeM)
      flex-basis: calc(50% - 64px)

      &_even
        order: 1

  &__title
    @extend .title
    font-size: 28px
    text-transform: none
    margin-bottom: 30px

    @media (min-width: $sizeS)
      font-size: 30px

    @media (min-width: $sizeM)
      text-align: left

  &__description
    @extend .description
    font-size: 14px

    @media (min-width: $sizeM)
      text-align: left
