header.header
  nav.navigation.navigation_small
    .logo
      .logo__text
        | T
        span.logo__ampersand &
        | K
    .menu
      include ../svg/burger.svg
  nav.navigation.navigation_large
    | LARGE NAVIGATION
