-
  var navList = [
    {href: '#about', title: 'О НАС'},
    {href: '#history', title: 'НАША ИСТОРИЯ'},
    {href: '#whereandwhen', title: 'ГДЕ И КОГДА'},
    {href: '#shedule', title: 'ПРОГРАММА'},
    {href: '#participation', title: 'УЧАСТИЕ'},
    {href: '#guests', title: 'ГОСТИ'},
    {href: '#gifts', title: 'ПОДАРКИ'},
    {href: '#gallery', title: 'ГАЛЕРЕЯ'},
    {href: '#contacts', title: 'КОНТАКТИ'}
  ];

include ../logo/logo.pug

mixin navigationItem(item, index)
  - var indexCenter = Math.floor(navList.length / 2);

  if index == indexCenter
    li.navigation__item.navigation__item_center
      +logo
      +navigationItem(item)
  else
    li.navigation__item
      a.navigation__link(
        href=item.href
        title=item.title
      )= item.title

mixin navigationItemSmall(item, index)
  li.navigation__item.navigation__item_small
    a.navigation__link.navigation__link_small(
      href=item.href
      title=item.title
    )= item.title

//- CONTENT
header.header-container
  .header.header_small
    +logo
    .menu
      .menu__icon.menu__icon_burger
        include ../svg/burger.svg
      .menu__icon.menu__icon_close
        include ../svg/close.svg
  .header.header_large
    nav.navigation-container
      ul.navigation
        each navItem, index in navList
          +navigationItem(navItem, index)
nav.navigation-container.navigation-container_small
  ul.navigation.navigation_small
    each navItem, index in navList
      +navigationItemSmall(navItem, index)
