section.hero-container(
  data-background-url = data.hero.bgUrl
)
  .hero
    .hero__title(
      data-animation = "fadeInUp"
    )
      .hero__name
        = data.general.female.name
      .hero__heart
        include ../svg/heart.svg
      .hero__name
        = data.general.male.name
    .hero__description(
      data-animation = "fadeInUp"
    )
      = data.hero.description
