-
  var femaleName = 'ТАТЬЯНА';
  var maleName = 'КИРИЛЛ';
  var description = 'Нам очень нужна поддержка наших родных и друзей в этот чудесный день. Если вы читаете этот текст — значит вы один из тех замечательных людей, с которыми мы хотим разделить наше счастье.';

section.hero-container
  .hero
    .hero__title
      .hero__name
        = femaleName
      .hero__heart
        include ../svg/heart.svg
      .hero__name
        = maleName
    .hero__description
      = description
