@import variables
@import reset

div,
li
  box-sizing: border-box

body
  background: $main-bg-color
  min-width: 320px

.title
  color: $nav-item-color
  font-family: $main-serif-font
  font-weight: 700
  font-size: 30px
  line-height: 1.0
  text-transform: uppercase
  text-align: center

  @media (min-width: $sizeS)
    font-size: 36px

.description
  color: $dark-gray-color
  font-family: $main-sans-serif-font
  font-weight: 300
  font-size: 12px
  line-height: 1.5
  text-align: center

  @media (min-width: $sizeS)
    font-size: 14px

.button
  width: 175px
  background: $main-red-color
  border: none
  border-bottom: 2px solid darken($main-red-color, 20)
  font-family: $main-sans-serif-font
  font-weight: 400
  font-size: 14px
  line-height: 40px
  color: $main-yellow-color
  cursor: pointer

  &:hover
    background: darken($main-red-color, 20)
    border-color: darken($main-red-color,40)

  &:active
    border-bottom: none
